@use "../../styles/partials/variables";

.dashboard {
  &__wrapper {
    border-bottom: 1px solid gray;
    padding: 1rem 0;
    background-color: #ffffff;
  }

  &__header {
    margin: 0 1rem;
  }

}

.pieces {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
  background-color: variables.$bg-white;
}

.dash-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  &__title {
    margin: 0;
    font-size: 2rem;
  }

  &__add {
    background-color: variables.$light-lilac;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
}
