@use "./styles/partials/variables";

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    font-size: .875rem;
}
a{
    text-decoration: none;
    color: variables.$primary-blue;
}
button {
    &:hover {
        cursor: pointer;
    }
}

p{
    margin: 0;
    line-height: 1.5;
}