@use "../../styles/partials/variables";

.header{
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$light-lilac;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;

    &__title{
        font-size: 1.5rem;
        color: variables.$primary-light
    }

    &__login{
        color: variables.$primary-light;
        background-color: transparent;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
    }

}