@use "../../styles/partials/variables";

.detail{
    margin: 0 1rem;

    &__img{
        width: 100%;
        margin-bottom: 2rem;
    }

    &__title{
        font-weight: 700;
    }

    &__actions{
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
    &__edit{
        padding: 0.5rem 2rem;
        background-color: variables.$light-lilac;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        font-size: 1rem;
    }

    &__delete{
        padding: 0.5rem 2rem;
        border: none;
        background-color: variables.$light-lilac;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
}